.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.possibleChoiceBox {
  width:25%;
  border-radius: 10%;
  border: 2px solid green;
}
