header {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.containerBox {
  margin: auto;
  width:960px;
  padding-left: 24px;
  padding-right: 24px;
}

img {
  width: 275px;
  margin: 0px;
  border: 2px solid #ACCFCC;
  border-radius: 25px;
  transition: all .5s;
}

img:hover{
  opacity: .67;
  border-radius: 50%;
}
